:host {
  font-size: 1rem;
  margin-top: 2em;
  background: var(--background-gradient);
  border: solid 1px var(--primary-color-mid-copper);
  border-radius: 2em;
  padding: 2em;
  color: var(--font-color-light);
  width: 70%;
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  justify-content: center;
}

img {
  object-fit: cover;
}

div {
  display: flex;
  justify-content: space-between;

  img {
    height: 3em;
    width: auto;
  }
}
