:host {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  backdrop-filter: blur(20px);
  border: solid 1px var(--primary-color-mid-copper);
  border-radius: 2em;
  padding: 1em 1.5em;
  color: var(--font-color-light);
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

H4 {
  font-size: 1.5em;
}

.gallery {
  align-self: center;
}

img {
  object-fit: cover;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 1.5em;
    width: auto;
  }
}

mat-chip-set {
  align-self: center;
}
