:host {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2em;
  --mat-icon-color: white;
  backdrop-filter: blur(10px);
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2em;
}

button {
  all: unset;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

mat-icon {
  width: auto;
  height: auto;
  font-size: 40px;
}
