<button routerLink="">
  <img ngSrc="CLogoTiny.png" alt="logo" height="100" width="100" priority>
</button>
<nav>
  @for (content of btnContent; track content; let i = $index) {
    <app-outlined-button [content]="btnContent[i]"></app-outlined-button>
  }
    <app-outlined-button [content]="cvContent" (click)="download()"></app-outlined-button>
</nav>
<div class="links">
  <a [href]="gitHubUrl" target="_blank">
    <img ngSrc="github-mark-white.svg" height="34" width="34" alt="logo GitHub Cat">
  </a>
  <a [href]="linkedInUrl" target="_blank">
    <img ngSrc="In-White-34.png" height="34" width="34" alt="logo LinkedIn">
  </a>
  <a [href]="mail">
    <mat-icon fontIcon="mail"></mat-icon>
  </a>
</div>

