<button class="logoButton" routerLink="">
  <img ngSrc="CLogoTiny.png" alt="logo" height="80" width="80" priority>
</button>
<div class="links">
  <a [href]="gitHubUrl" target="_blank">
    <img ngSrc="github-mark-white.svg" height="25" width="25" alt="logo GitHub Cat">
  </a>
  <a [href]="linkedInUrl" target="_blank">
    <img ngSrc="In-White-34.png" height="25" width="25" alt="logo LinkedIn">
  </a>
  <a [href]="mail">
    <mat-icon fontIcon="mail"></mat-icon>
  </a>
</div>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  @for(btnContent of btnContent; track btnContent) {
    <button mat-menu-item [routerLink]="btnContent.path">{{btnContent.title}}</button>
  }
  <button mat-menu-item (click)="downloadCV()">{{cvContent.title}}</button>
</mat-menu>

