button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  border: solid 1px var(--primary-color-mid-copper);
  border-radius: 1em;
  padding: 0.5em 1em;
  background: transparent;
  color: var(--primary-color-mid-copper);

  &:hover {
    box-shadow: 0 0 5px var(--primary-color-light-copper),
                inset 0 0 5px var(--primary-color-light-copper);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }
}
