:host {
  font-size: 1rem;
  display: flex;
  margin-left: 5%;
}

.wrapper {
  margin-left: 20%;
  opacity: 0.5;
  z-index: 0;
  overflow: hidden;
}

span {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 8em;
}

h1, h2 {
  font-size: 10em;
  line-height: normal;
  background: var(--copper-linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  z-index: 1;
}

h2 {
  font-size: 5em;
}

