:host {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

img {
  object-fit: cover;
  opacity: 0.2;
  overflow: hidden;
  mask-repeat: no-repeat;
  z-index: -1;
}

span {
  display: flex;
  flex-direction: column;
  gap: 5em;
  margin: var(--margin-mobile);
  @media screen and (min-width: 599px) {
    top: calc(var(--margin-mobile)*4);
  }
}

h1, h2 {
  font-size: 4em;
  line-height: normal;
  background: var(--copper-linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  word-break: break-word;
  @media screen and (min-width: 959px) {
    font-size: 7em;
  }
}

h2 {
  font-size: 2em;
  @media screen and (min-width: 959px) {
    font-size: 4em;
  }
}

app-outlined-button {
  align-self: center;
  margin-top: var(--margin-mobile);
}
