:host {
  font-size: 1rem;
  color: var(--font-color-light);
  display: flex;
  margin-left: 5%;
}

.wrapper {
  margin-left: 20%;
  opacity: 0.5;
  z-index: 0;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 8em;
}

.firstName {
  font-size: 10em;
}

.description {
    font-size: 5em;
}

