:host {
  font-size: 1rem;
  color: var(--font-color-light);
  display: flex;
  margin-right: 5%;
}

p {
  justify-self: flex-end;
  font-size: 2em;
  line-height: normal;
  position: absolute;
  left: 25%;
  top: 30%;
  width: 70%
}

img {
  position: absolute;
  right: 40%;
  opacity: 0.5;
}
