<div class="titles">
  <h1>Projets</h1>
  <h2>Quelques unes de mes dernières réalisations</h2>
</div>

<mat-tab-group>
  @for(project of projects; track project.name) {
    <mat-tab [label]="project.name">
      <app-project-card
        [imgUrl]="project.imgUrl!"
        [name]="project.name"
        [shortDescription]="project.shortDescription"
        [fullDescription]="project.fullDescription"
        [technologies]="project.technologies"
      />
    </mat-tab>
  }

  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
