:host {
  font-size: 1rem;
  color: var(--font-color-light);

  /*Mat-tab*/
  /**header
    /*Couleur police label header*/
  --mat-tab-header-active-label-text-color: var(--primary-color-light-copper);
  --mat-tab-header-inactive-label-text-color: var(--primary-color-mid-copper);
  --mat-tab-header-active-focus-label-text-color: var(--primary-color-light-copper);
  --mat-tab-header-inactive-hover-label-text-color: var(--primary-color-light-copper);

  /*Taille police label header*/
  --mat-tab-header-label-text-size: 1rem;
  @media screen and (min-width: 599px) {
    --mat-tab-header-label-text-size: 1.5rem;
  }

  /*Icone de pagination*/
  --mat-tab-header-pagination-icon-color : var(--primary-color-mid-copper);

  /*divider*/
  --mat-tab-header-divider-color : var(--primary-color-mid-copper);

  /*stepper*/
  --mat-stepper-header-selected-state-icon-background-color: var(--primary-color-light-copper);

  /*Indicator*/
  --mat-tab-header-active-focus-indicator-color: var(--primary-color-mid-copper);
  --mat-tab-header-active-hover-indicator-color: var(--primary-color-mid-copper);
  --mdc-tab-indicator-active-indicator-color: var(--primary-color-mid-copper);
  --mdc-tab-indicator-active-indicator-height: 0.2rem;
  --mdc-tab-indicator-active-indicator-shape: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin : var(--margin-mobile);

  @media screen and (min-width: 1279px) {
    margin: var(--margin-desktop);
  }
}

mat-tab-group {
  align-self: center;
}

img {
  position: fixed !important;
  object-fit: cover;
  opacity: 0.2;
  mask-repeat: no-repeat;
  z-index: -1;
  overflow: hidden;
}

h1 {
  font-size: 3em;
  background: var(--copper-linear-gradient);
  margin-bottom: 2em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
