html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background-gradient);
}

/*Variables globales*/
:root {

  /*palette couleurs*/
  --primary-color-light-copper: #E3B4AF;
  --primary-color-mid-copper: #906866;
  --primary-color-dark-copper: #4F2F29;
  --font-color-light: #B5BEBF;
  --copper-linear-gradient: linear-gradient(45deg, #E3B4AF, #906866, #4F2F29);

  /*couleur du background*/
  --background-dark: #1D232B;
  --background-gradient: linear-gradient(0.25turn,#010005, #1D232B);

  /*Angular material*/

  /*Mat-tab*/

    /**header
      /*Couleur police label header*/
      --mat-tab-header-active-label-text-color: var(--primary-color-mid-copper);
      --mat-tab-header-inactive-label-text-color: var(--primary-color-mid-copper);
      --mat-tab-header-active-focus-label-text-color: var(--primary-color-light-copper);
      --mat-tab-header-inactive-hover-label-text-color: var(--primary-color-light-copper);
      /*Taille police label header*/
      --mat-tab-header-label-text-size: 1rem;
      /*Icone de pagination*/
      --mat-tab-header-pagination-icon-color : var(--primary-color-mid-copper);
      /*divider*/
      --mat-tab-header-divider-color : var(--primary-color-mid-copper);
      /*stepper*/
      --mat-stepper-header-selected-state-icon-background-color: var(--primary-color-light-copper);
      /*Indicator*/
      --mat-tab-header-active-focus-indicator-color: var(--primary-color-mid-copper);
      --mat-tab-header-active-hover-indicator-color: var(--primary-color-mid-copper);
      --mdc-tab-indicator-active-indicator-color: var(--primary-color-mid-copper);
      --mdc-tab-indicator-active-indicator-height: 0.2rem;
      --mdc-tab-indicator-active-indicator-shape: 5px;
}

